<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
</head>
<body>

    <%- include ("../partials/header.ejs") %>

    <h1>Encounter Details</h1>

    <form action="/encounters/<%=encounter.id %>?_method=PUT" method="POST">
        
        <label for="isPublic">Display Publicly?</label>
		<input type="checkbox" name="isPublic" id="isPublic" <% if (encounter.isPublic) { %> checked <% } %>/>
        <br>
        Title: <input type="text" name="title" value="<%=encounter.title %>"/>
        <br />
        Campaign: <input type="text" name="campaign" value="<%=encounter.campaign %>"/>
        <br />
        Player Character: <input type="text" name="playerCharacter" value="<%=encounter.playerCharacter.join(', ') %>"/><br />
        <input type="submit" name="" value="Save Encounter" />
    </form>

</body>
</html>